.continuum-global-footer {
  background-color: #030038;
  color: #fafafa;
}

.continuum-global-footer li {
  list-style-type: none;
}

.continuum-global-footer a {
  color: #246DFF;
  text-decoration: none;
}
